.sideBar{
-fx-background-color:#0598ff;
}
.link{
-fx-background-color:transparent;
-fx-font-size:15;
-fx-text-fill:#ffffff;
-fx-font-weight:bold;
-fx-background-radius:20;
}
.link:hover{
-fx-background-color:blue;
-fx-background-radius:20;
}

.title{
-fx-text-fill:#0598ff;
-fx-font-size:15;
-fx-font-style:italic;
-fx-font-weight:bold;

}
.content{
-fx-background-color:#e2dddd;
}
.mainContent{
-fx-background-color:white;
-fx-background-radius:20;
}
.button1{
-fx-font-size:15;
-fx-text-fill:white;
-fx-border-width:none;

}
.text-field{
-fx-font-size:13;
-fx-border-color:#5a62d0;

-fx-background-color:transparent;
}
.Welcome{
-fx-font-size:15;
-fx-text-fill:white;
-fx-font-weight:bold;
}